<div class="dropdown">
    <button id="empMenu" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" class="btn btn-primary">Employees
        <span class="caret"></span></button>
    <div class="dropdown-menu employee-box" aria-labelledby="empMenu" ng-click="$event.stopPropagation();">
        <div ng-repeat="dept in departments | orderBy:'departmentName'" class="department">
            <p class="ellipsis">{{dept.departmentName}}</p>
            <div ng-repeat="emp in dept.employees | orderBy:['lastName', 'firstName']" class="container-fluid">
                <p class="ellipsis">{{emp.position.name | uppercase}}</p>
                <div class="row">
                    <div class="col-sm-9">
                        <p class="ellipsis">{{emp.lastName + ' ' + emp.firstName}}</p>
                    </div>
                    <div class="col-sm-3">
                        <button ng-click="select(dept.departmentName,  emp)" class="close">
                            <span aria-hidden="true">+</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>