<div class="container-fluid">
    <div class="row">
        <div class="time-line-data">
            <div class="row">
                <div class="col-xs-1">
                    <a class="close dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="type in workTypes track by $index">
                            <a href="#" ng-click="setWorkType(type, schLine)">{{type}}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" ng-click="remove(schLine)">Remove</a></li>
                    </ul>
                </div>
                <div class="col-xs-7 ellipsis">{{schLine.lastName + ' ' + schLine.firstName}}</div>
                <div class="col-xs-4 pull-right ellipsis">{{schLine.position.name}}</div>
            </div>
        </div>
        <div class="time-line-area pull-right">
            <div><span>{{schLine.startTime | workingTime : schLine.duration}}</span></div>
        </div>
    </div>
</div>