<div class="container-fluid">
    <div class="row">
        <div class="time-line-data">
            <div class="row">
                <div class="col-xs-1" ng-switch="hasWorkTypes()">
                    <div ng-switch-when="true" class="dropdown">
                        <a class="close dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="type in workTypes track by $index">
                                <a href="#" ng-click="setWorkType(type, schLine)">{{type}}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" ng-click="remove(schLine)">Remove</a></li>
                        </ul>
                    </div>
                    <button ng-switch-default ng-click="remove(schLine)" type="button" class="close"><span
                            class="glyphicon glyphicon-remove"></span></button>
                </div>
                <div class="col-xs-7 ellipsis">{{schLine.employee.lastName + ' ' + schLine.employee.firstName}}</div>
                <div class="col-xs-4 pull-right ellipsis">{{schLine.employee.position.name}}</div>
            </div>
        </div>
        <div class="time-line-area pull-right">
            <div><span>{{schLine.startTime | workingTime : schLine.duration}}</span></div>
        </div>
    </div>
</div>